<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>

    <!-- JDBC Database connection settings -->
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/Chat System</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">1921</property>

        <!-- Specify dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">none</property>

        <property name="hibernate.current_session_context_class">thread</property>


    </session-factory>

</hibernate-configuration>
