<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome</title>
    </head>

    <body>
        <h1>Register NOW!</h1>
        <form th:if="${logged != true}" action="/login">
            <button>"Login now!"</button>
        </form>

        <form th:if="${logged != true}" action="/signUp">
            <button>"Sign Up now!"</button>
        </form>
    </body>
</html>