<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome</title>
    </head>

    <body>
        <h1>Login!</h1>
        <form action="/logged" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button>Login</button>

            <p style="color: red;" th:if="${loginFail}">Incorrect email or password! Please try again!</p>
            <p style="color: rgb(5, 5, 5);" th:unless="${loggedUser == null}" th:text="'Hello, ' + ${loggedUser.getUsername()}">Incorrect email or password! Please try again!</p>

            
            <p>Not registered yet? <a href="/signUp">Sign up!</a></p>            
        </form>
    </body>

    
</html>