<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome</title>
    </head>

    <body>
        <h1>Login!</h1>
        <form action="">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button>Login</button>

            <p>Not registered yet? <a href="/signUp">Sign up!</a></p>            
        </form>
    </body>
</html>